{% extends 'base.html' %}

{% load markdown_deux_tags %}

{% block extra_css %}
<style>
section.header{
  background-position: center bottom;
  background-image: url("{{ MEDIA_URL }}{{ content.header_image }}");
  background-image: -moz-linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.2)), url("{{ MEDIA_URL }}{{ content.header_image }}");
  background-image: -webkit-gradient(linear, 0 top, 0 bottom, from(rgba(0,0,0,0.6)), to(rgba(0,0,0,0.2))), url("{{ MEDIA_URL }}{{ content.header_image }}");
}
</style>
{% endblock %}

{% block body_id %}rtd2015{% endblock %}
{% block body_class %}standard_page{% endblock %}

{% block header %}
<section class="header">
  <div class="title-container">
    <h1>{{ content.title }}</h1>
  </div>
</section>
{% endblock %}

{% block content %}
<section class="content-container">
  <div class="content">
      {{ content.text|markdown:"STYLE" }}
  </div>
  <div class="sidebar">
    <h3>RTD on Twitter</h3>
    <div class="twitter">
      <a class="twitter-timeline" href="https://twitter.com/RTD2015" data-widget-id="589717441070108672">Tweets by @RTD2015</a>
      <script>
        !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
      </script>
    </div>
    <h3>Our Sponsors</h3>
    <img src="{{STATIC_URL}}img/MSRC.png">
    <img src="{{STATIC_URL}}img/Necastle-Uni.png">
    <img src="{{STATIC_URL}}img/Leverhulme-Trust.png">
    <img src="{{STATIC_URL}}img/EPSRC-logo.png">
    <img src="{{STATIC_URL}}img/DC-logo-sponsor.png">
    <img src="{{STATIC_URL}}img/1dundee.png">
    <img src="{{STATIC_URL}}img/2designinaction.png">
    <img src="{{STATIC_URL}}img/3aberdeen.png">
    <img src="{{STATIC_URL}}img/4dotrural.png">
    <img src="{{STATIC_URL}}img/falmouth.jpg">
    <img src="http://rtd2015.s3.amazonaws.com/static/img/folded-square.png">

  </div>
</section>
{% endblock %}
